.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.quote {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  font-weight: 100;
  cursor: default;
}