.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.quote {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  font-weight: 100;
  cursor: default;
}

h1.main-number {
  font-size: 4em;
  font-family: Roboto,sans-serif;
  font-weight: 100;
}

h2 {
  font-size: 1.5em;
  font-family: Roboto,sans-serif;
  font-weight: 300;
}

h3 {
  font-size: .8em;
  font-family: Roboto,sans-serif;
  font-weight: 300;
  margin: 0;
}

h1.quote {
  margin-top: 1em;
  margin-bottom: .5em;
}

.separation {
  margin-bottom: 1em;
  margin-top: 1em;
}

.has-borders {
  border-right: 1px solid #b5aaaa;
  border-left: 1px solid #b5aaaa;
}

.spinner {
  margin-top: 2em;
}

mat-cell mat-icon.alquilado {
  color: green;
  padding-left: 12px;
}

mat-cell mat-icon.libre {
  color: red;
  font-size: 24px;
}

.separation-bottom {
  margin-bottom: 1em;
}