<section class="hero">
  <div class="container ">
    <div class="columns ">
      <div class="column has-text-centered separation-bottom">
        <h1 class="title quote">Resumen de productos</h1>
        <h3 class="title">Información actualizada en vivo</h3>
      </div>
    </div>
    <div class="columns ">
      <div class="column has-text-centered">
        <h2 class="">Total vehículos</h2>
        <h1 class="main-number">{{totalVehiculos || '-'}}</h1>
      </div>
      <div class="column has-text-centered has-borders">
        <h2 class="">Vehículos alquilados</h2>
        <h1 class="main-number">{{vehiculosAlquilados || '-'}}</h1>
      </div>
      <div class="column has-text-centered">
        <h2 class="">Vehículos para revisión</h2>
        <h1 class="main-number">{{totalMant || '-'}}</h1>
      </div>
    </div>
  </div>
</section>
<section class="hero">
  <div class="container ">
    <div class="columns ">
      <div class="column has-text-centered">
        <h1 class="title quote">Inventario de vehículos</h1>
        <h3 class="title">Seleccione un vehiculo para ver detalles</h3>
      </div>
    </div>
    <div *ngIf="loading" class="columns is-centered">
      <div class="column is-1 spinner">
        <mat-spinner></mat-spinner>
      </div>
    </div>
    <div *ngIf="!loading" class="columns">
      <div class="column has-text-centered">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="!loading" class="columns separation">
      <div class="column ">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="openItemCardDialog(element)"> {{element.id}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="tipo">
            <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="openItemCardDialog(element)"> {{element.tipo}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="cliente">
            <mat-header-cell *matHeaderCellDef> Cliente </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="openItemCardDialog(element)"> {{element.cliente}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="alquilado">
            <mat-header-cell *matHeaderCellDef> Alquilado </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="openItemCardDialog(element)">
              <mat-icon class="alquilado" *ngIf="element.alquilado">check</mat-icon>
              <mat-icon class="libre" *ngIf="!element.alquilado">error_outline</mat-icon>
            </mat-cell>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="diasEnUso">
            <mat-header-cell *matHeaderCellDef> Dias en uso </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="openItemCardDialog(element)"> {{element.diasEnUso | number: '1.0-0'}} </mat-cell>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="proxMant">
            <mat-header-cell *matHeaderCellDef> Proximo Mantenimiento </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="openItemCardDialog(element)"> {{element.proxMant | date}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>


</section>