<section class="hero">
  <div class="container">
    <div class="columns is-centered separation">
      <div class="column has-text-centered">
        <h1 class="title main">Manejo de Inventario Empre S.A.</h1>
        <mat-divider></mat-divider>
      </div>
    </div>
    <div class="columns ">
      <div class="column has-text-centered">
        <h2 class="option-title">Escoja la accion que desee realizar</h2>
      </div>
    </div>
    <div class="columns ">

      <!-- this boxes wil be a component in future -->
      <div (click)="navigate('inventario')" class="column optionBox">

        <mat-icon>commute</mat-icon>
        <h2 class="option-title">Revisar Inventario</h2>

      </div>
      <div (click)="navigate('alquiler')" class="column optionBox">

        <mat-icon>how_to_vote</mat-icon>
        <h2 class="option-title">Ingresar Alquiler</h2>

      </div>
      <div (click)="navigate('mantenmiento')" class="column optionBox">

        <mat-icon>view_carousel</mat-icon>
        <h2 class="option-title">Mantenimiento</h2>

      </div>
    </div>
    <!-- <div class="columns ">
      <div class="column has-text-centered">
        <mat-divider class="split"></mat-divider>
        <h2 class="option-title">Reporte un error en la aplicacion</h2>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-3 optionBox error">

        <mat-icon>error</mat-icon>
        <h2 class="option-title">Reportar error</h2>

      </div>
    </div> -->
  </div>
</section>