<section class="hero">
  <div class="container ">
    <div class="columns is-centered separation">
      <div class="column has-text-centered is-half">
        <h1 class="title quote">Ingrese detalles de alquiler</h1>
        <h3 class="title">Formulario para ingreso de nuevo detalle de alquiler</h3>
        <mat-divider></mat-divider>
      </div>
    </div>
    <div class="columns is-centered separation-bottom">
      <div class="column is-3 has-text-centered example-container">
        <form class="example-container" [formGroup]="formGroup">
          <mat-form-field>
            <input matInput #idtext placeholder="Id vehículo" formControlName="id" maxlength="10">
            <mat-hint align="start">{{idtext.value?.length || 0}}/10</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Año de vehiculo" formControlName="year">
              <mat-option *ngFor="let option of years" [value]="option">
                {{option}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput #marcatext placeholder="Marca" formControlName="marca" maxlength="15">
            <mat-hint align="start">{{marcatext.value?.length || 0}}/15</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Tipo de vehículo" formControlName="tipo">
                <mat-option *ngFor="let tipo of tipos" [value]="tipo">
                    {{tipo}}
                  </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput #clientetext placeholder="Cliente/Empresa" formControlName="cliente" maxlength="15">
            <mat-hint align="start">{{clientetext.value?.length || 0}}/15</mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Prox. mantenimiento"
              formControlName="proxMant">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker disabled="false"></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerf" placeholder="Final Alquiler"
                formControlName="finalAlquiler">
              <mat-datepicker-toggle matSuffix [for]="pickerf"></mat-datepicker-toggle>
              <mat-datepicker touchUi #pickerf disabled="false"></mat-datepicker>
            </mat-form-field>

          <button mat-raised-button color="primary" (click)="submit()" [disabled]="!formGroup.valid">Guardar</button>

        </form>

      </div>

    </div>
  </div>
</section>