.photo {
    background-color: #cdcdcd;
    height: 100%;
}

.full-height {
    height: 100%;
}

div.photo mat-icon {
    font-size: 72px;
    padding-top: 50%;
    padding-right: 25%;
    color: #959595;
}

.photo p {
    padding-top: .5em;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

div.is-4 {
    padding-bottom: 0;
}

p {
    margin: 5px;
}

.column button {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.bold {
    font-weight: bolder;
}