<div class="columns full-height">
  <div class="column is-4 has-text-centered">
    <div class="photo">
      <mat-icon *ngIf="!loading">directions_bus</mat-icon>
      <p>{{message}}</p>
    </div>
  </div>
  <div class="column">
    <p><span class="bold">No.</span> {{id}} - <span class="bold">Tipo: </span> {{tipo}}</p>
    <p><span class="bold">Marca: </span> MACK</p>
    <p><span class="bold">Alquilado: </span> {{alquiladoText}}</p>
    <p><span class="bold">Año: </span> 2015</p>
    <p><span class="bold">Último mantenimiento: </span> Oct 29 2018</p>
    <p><span class="bold">Próximo mantenimiento:</span> Nov 29 2018</p>
    <p><span class="bold">Días en uso: </span>{{diasUso | number:'1.0-0'}}</p>
    <p><span class="bold">Cliente actual: </span>{{cliente}}</p>
    <p><span class="bold">Descripción: </span> Camion tipo volqueta. 400 caballos de potencia, motor 7
      cilindros twin turbo. Serie GT aros de lujo. Capacidad de 5 000 metros cubicos.</p>
    <button *ngIf="!alquilado" mat-raised-button color="primary">Nuevo alquiler</button>
    <button mat-raised-button color="accent">Nuevo mantenimiento</button>
    <button *ngIf="alquilado" mat-raised-button color="warn">Terminar alquiler</button>
  </div>
</div>